{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link type="text/css" href="{% static 'parse/stile1.css' %}" rel="stylesheet" />
    </head>
    <body>
        <header>
            <h1>YouParse</h1>
            <nav>
                <a href="{% url 'index' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
            </nav>
        </header>
        <div class="container">
            {% block content %} 
            {% endblock %}
        </div>
    </body>
</html>