<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>{{ header }}</h1>
        <p>Название сайта: {{ site.name }}</p>
        <p>URL сайта: {{ site.url }}</p>
        <form method="post" action="{% url 'start_parse' site.id %}">
            {% csrf_token %}
            <button type="submit">Запустить парсинг</button>
        </form>
        <a href="{% url 'req_site_list' %}">К списку запросов</a>
    </body>
</html>